<!DOCTYPE hibernate-configuration PUBLIC
        "-//Hibernate/Hibernate Configuration DTD 3.0//EN"
        "http://www.hibernate.org/dtd/hibernate-configuration-3.0.dtd">

<hibernate-configuration>
<session-factory>

	<!-- 1.数据库连接信息(spring里面配置连接池就不用这个连接了)
		<property name="dialect">org.hibernate.dialect.MYSQL5InnoDBialect</property>
		<property name="hibernate.connection.driver_class">com.jsbc.mysql.Driver</property>
		<property name="hibernate.connection.url">jdbc:mysql://localhost:3306/oa</property>
		<property name="hibernate.connection.username">root</property>
		<property name="hibernate.connection.password">123</property>
	-->


	<!-- 2.其他配置 -->
	<property name="show-sql">true</property>
	<property name="hbm2ddl.auto">update</property>

	<!-- 3.导入隐射文件-->
	<mapping resource="cn/oa/domain/User.hbm.xml" />


</session-factory>
</hibernate-configuration>